<!DOCTYPE html>
<html>
  	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>app title</title>
		<meta name="description" content="{{=it.main.description}}">
		    <!-- jQuery, jQuery.ui -->
		<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/noneedsystem/fucss/master/fucss.css">   
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<!--react-->
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-cookie/0.4.3/react-cookie.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js"></script>
		<script tyee="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.0/index.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.min.js"></script>
		<!--<script type="text/javascript" src="https://github.com/Daniel15/babel-standalone/releases/download/release-1.0.0/babel.min.js"></script>-->
		<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
		<!--other-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js"></script>
		<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
		  
    <script src="https://rawgit.com/spoike/refluxjs/master/dist/reflux.js"></script> 
    
    <style>
      ::selection {background: #8ecd3c; color: #ffffff;}
      .brd-dash{border-style: dashed;}
      body{padding:0; margin:0; font-size: 14px;}
    </style>
	</head>

  <body class="bg-greyl2 fnt-main">
   <div id="app"></div>
   <div id="confirmWindow"></div>

    <!--<script  src="scripts/NewValueForm.js"></script>-->
    <!--<script  src="scriptsMenuTree.js"></script>-->
    
    <script type="text/javascript">
    	window.app={
    		extensions: {},
    		components: {},
    		elements: {},
    		pages: {},
    	};
    </script>
    <!-- stores -->
    <script type="text/babel" src="scripts/stores/mainStore.js"></script>
    <script type="text/babel" src="scripts/stores/store.js"></script>
    <script type="text/babel" src="scripts/stores/entriesStore.js"></script>
    <!-- extensions -->
    <script type="text/babel" src="scripts/extensions/DragNdrop.js"></script>
    <script type="text/babel" src="scripts/extensions/dragNdrop/MenuItemDnDHandler.js"></script>
    <!-- elements -->
    <script type="text/babel" src="scripts/elements/layouts.js"></script>
    <script type="text/babel" src="scripts/elements/buttons.js"></script>
    <!-- components -->
    <script type="text/babel" src="scripts/components/Breadcrumbs.js"></script>
    <script type="text/babel" src="scripts/components/Editor.js"></script>
    <script type="text/babel" src="scripts/components/EditorEntityView.js"></script>
    <script type="text/babel" src="scripts/components/EditorEntry.js"></script>
    <script type="text/babel" src="scripts/components/NewAppMenu.js"></script>
    <script type="text/babel" src="scripts/components/ConfirmMenu.js"></script>
    <script type="text/babel" src="scripts/components/DropDownMenu.js"></script>
    <script type="text/babel" src="scripts/components/DropDownMenuController.js"></script>
    <script type="text/babel" src="scripts/components/Tree.js"></script>
    <script type="text/babel" src="scripts/components/EditableSection.js"></script>
    <script type="text/babel" src="scripts/components/EditableEntry.js"></script>
    <script type="text/babel" src="scripts/components/Entry.js"></script>
    <script type="text/babel" src="scripts/components/Section.js"></script>
    
    <!-- pages -->
    <script type="text/babel" src="scripts/pages/Registration.js"></script>
    <script type="text/babel" src="scripts/pages/Login.js"></script>
    <script type="text/babel" src="scripts/pages/Dashboard.js"></script>
    <script type="text/babel" src="scripts/pages/NotFound.js"></script>
    <script type="text/babel" src="scripts/pages/Loading.js"></script>
    <!-- app initer -->
    <script type="text/babel" src="scripts/app.js"></script>
  </body>
</html>