<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{=it.main.title}}</title>
		<meta name="description" content="tadam">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
	</head>
	
	<body class="pdg-0 mrg-0 fnt-main">
		
	    <app/>
			
			
	    <script>
	    		var apiUrl = 'https://wdpwp.com/';
				  
				    superagent
				      .get(apiUrl + 'api/content/tree')
				      .end((err, apiRes) => {
				      	console.log(err, apiRes.body);
				      });
	    </script>
	    <script src="https://cdn.jsdelivr.net/babel/5.8.23/browser.js"></script>
	    <script src="https://cdn.rawgit.com/riot/riot/master/riot+compiler.min.js"></script>
	
	    <script>
		    riot.mount('app', {});
	    </script>

 	</body>
</html>